
.inf-topic{
    display: flex;
}
.name{
    margin-bottom: -10px;
}
.text{
    font-style: inherit;
}
.name{
    margin-top: -30px;
}
.inf-subtopicleft {
    text-align: left;
    flex-grow: 1;
    margin-top: -30px;
}

.inf-subtopiccenter {
    text-align: center;
    flex-grow: 2;
    margin-right: 100px;
    margin-top: -30px;
}
.experience{
    display: flex;
}
.form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
}
